#loader{

    position:fixed;
    inset:0;

    background:rgba(5,5,5,.82);

    backdrop-filter:blur(18px);
    -webkit-backdrop-filter:blur(18px);

    z-index:99999;

    display:flex;
    justify-content:center;
    align-items:center;

    transition:transform 1.2s cubic-bezier(.76,0,.24,1);
    overflow:hidden;
}

#loader{

    background:
        #050505;

}

#loader.hide{
    transform:translateY(-100%);
}

/* =========================
   Loader Layout
========================= */

.loader-content{

    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;

    gap:1rem;

}

/* =========================
   Logo
========================= */

.loader-logo{

    width:180px;

    opacity:0;
    transform:scale(.8);

    animation:logoReveal .9s ease forwards;

}

@keyframes logoReveal{

    to{

        opacity:1;
        transform:scale(1);

    }

}

/* =========================
   Tagline
========================= */

.tagline-mask{

    overflow:hidden;

    height:24px;

}

.loader-tagline{

    margin:0;
    margin-left:2rem;

    color:#FFFFFF;

    font-size:.95rem;

    letter-spacing:.35rem;

    text-transform:uppercase;

    font-weight:500;

    white-space:nowrap;

    opacity:0;

    transform:translateX(-100%);

    animation:slideTagline 1s cubic-bezier(.22,1,.36,1) forwards;

    animation-delay:.9s;

}

@keyframes slideTagline{

    from{

        opacity:0;
        transform:translateX(-100%);

    }

    to{

        opacity:1;
        transform:translateX(0);

    }

}

@keyframes glassSweep{

    from{
        background-position:-100% 0;
    }

    to{
        background-position:100% 0;
    }

}