/* ===========================
STATS
=========================== */

.stats {

    padding: 120px 0;

    background: #20232F;

    overflow: hidden;

    position: relative;

    border-top: 1px solid #3A424A;
    border-bottom: 1px solid #3A424A;

}


/* --------------------------
BACKGROUND CANVAS
-------------------------- */

#stats-grid {

    position: absolute;

    inset: 0;

    width: 100%;
    height: 100%;

    z-index: 0;

    pointer-events: none;

}


.stats-header,
.ticker {

    position: relative;

    z-index: 2;

}


/* --------------------------
HEADER
-------------------------- */

.stats-header {

    text-align: center;

    margin-bottom: 70px;

}


.stats_eyebrow {

    color: #FED160;

    letter-spacing: .25em;

    text-transform: uppercase;

    font-size: .85rem;

}


.stats-header h2 {

    margin-top: 18px;

    color: #FFFFFF;

    font-size: clamp(3rem, 7vw, 6rem);

    font-weight: 300;

    font-weight: 600;

    letter-spacing: 0rem;

    line-height: 1.05;

}


.stats-header h2 span {

    color: #FED160;

}


/* --------------------------
TICKER
-------------------------- */

.ticker {

    overflow: hidden;

    margin: 22px 0;

}


.ticker-track {

    display: flex;

    gap: 22px;

    width: max-content;

}


/* --------------------------
STAT CARD
-------------------------- */

.stat-card {

    width: 340px;

    height: 145px;

    flex: none;

    border-radius: 26px;

    padding: 28px;

    display: flex;

    align-items: flex-end;

    justify-content: space-between;

    color: #FFFFFF;

    background: #242A2F;

    border: 1px solid #3A424A;


}


/* --------------------------
STAT NUMBER
-------------------------- */

.stat-card h3 {

    margin: 0;

    font-size: 3.2rem;

    font-weight: 600;

    line-height: 1;

    color: #FED160;

}


/* --------------------------
DESCRIPTION
-------------------------- */

.stat-card p {

    width: 120px;

    margin: 0;

    color: #FFFFFF;

    font-size: .95rem;

    line-height: 1.25;

    opacity: .78;

}


/* --------------------------
TICKER ANIMATION
-------------------------- */

@keyframes tickerLeft {

    from {

        transform: translateX(0);

    }

    to {

        transform: translateX(-50%);

    }

}


@keyframes tickerRight {

    from {

        transform: translateX(-50%);

    }

    to {

        transform: translateX(0);

    }

}


/* --------------------------
SPEED CONTROL
-------------------------- */

.ticker-left .ticker-track {

    animation: tickerLeft 15s linear infinite;

}


.ticker-right .ticker-track {

    animation: tickerRight 15s linear infinite;

}